        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style-type: none;
            box-sizing: border-box;
        }
        
        body {
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
            background: linear-gradient(#0f0f35, #cc7171);
        
        
        }
        
        .container-login {
            width: 95vw;
            height: 90vh;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 7rem;
            padding: 0 2rem;
        }
        
        .container-login .img {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
        .container-login .img img {
            width: 710px;
        }
        
        .login-container {
            display: flex;
            align-items: center;
            text-align: center;
            margin-right: 25px;
        }
        
        .avatar {
            width: 100px;
        }
        /*apparence formulaire*/
        
        form {
            width: 400px;
        }
        
        form h2 {
            font-size: 2.9rem;
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
            text-transform: uppercase;
            margin: 15px 0;
            color: #29368a;
        }
        /*positionnement des inputs*/
        
        .input-div {
            position: relative;
            display: grid;
            grid-template-columns: 7% 93%;
            margin: 25px 0;
            padding: 5px 0;
            border-bottom: 2px solid #29368a;
        }
        /*Apparence de l'nput-div*/
        
        .input-div:after,
        .input-div:before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0;
            height: 2px;
            background: #5e6bc4;
            transition: .3s;
        }
        
        .input-div:after {
            right: 50%;
        }
        
        .input-div:before {
            left: 50%;
        }
        /*Apparence des input lorsqu'on clique dessus*/
        
        .input-div.focus .i i {
            color: #29368a;
        }
        /*lorsqu'on clique sur l'input*/
        
        .input-div.focus div h5 {
            top: -5px;
            font-size: 15px;
        }
        
        .input-div.focus:after,
        .input-div.focus::before {
            width: 50%;
        }
        /*Apparence des inputs avant qu'on clique dessus*/
        
        .input-div.one {
            margin-top: 0;
        }
        
        .input-div.two {
            margin-bottom: 4px;
        }
        
        .i {
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .i i {
            color: #999;
            transition: .3s;
        }
        
        .input-div>div {
            position: relative;
            height: 45px;
        }
        /*positionnement des petits au niveau des inputs*/
        
        .input-div>div h5 {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #999;
            font-size: 18px;
            transition: .3s;
        }
        
        .input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: none;
            outline: none;
            background: none;
            padding: 0.5rem 0.7rem;
            font-size: 1.2rem;
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
            color: #29368a;
        }
        /*apparence des liens*/
        
        .lien a {
            margin-top: 15px;
            display: block;
            color: #29368a;
            font-weight: bold;
            font-size: 0.9rem;
            transition: .3s;
        }
        
        /*couleur qui apparait sur les lien lorsqu'on pose le curseur*/
        .lien a:hover {
            color: #ff0024;
        }
        /*apparence du button*/
        
        .btn {
            display: block;
            text-align: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            margin: 1rem 0;
            font-size: 1.5rem;
            outline: none;
            border: none;
            background: #29368a;
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            background-size: 200%;
            transition: .5s;
            margin-top: 20px;
        }
        
        .btn:hover {
            background: #5e6bc4;
        }
        /*Apparence du loading*/
        
        .pace {
            pointer-events: none;
            user-select: none;
            z-index: 2000;
            position: fixed;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 400px;
            border: 0px;
            height: 1px;
            overflow: hidden;
            background: #1b1b1b;
        }
        
        .pace .pace-progress {
            box-sizing: border-box;
            transform: translate3d(0, 0, 0);
            max-width: 400px;
            position: fixed;
            z-index: 2000;
            display: block;
            position: absolute;
            top: 0;
            right: 100%;
            height: 100%;
            width: 100%;
            background: grey;
        }
        
        .pace.pace-inactive {
            display: none;
        }
        
        #preloader {
            width: 100%;
            height: 100vh;
            background: #101010;
            overflow: hidden;
            position: fixed;
            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        }
        
        #preloader {
            width: 100%;
            height: 100vh;
            background: #101010;
            overflow: hidden;
            position: fixed;
            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        }
        
        .p {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
        
        @media screen and (max-width: 1050px) {
            .container-login {
                grid-gap: 5rem;
            }
        }
        
        @media screen and (max-width: 1000px) {
            form {
                width: 290px;
            }
            form h2 {
                font-size: 2.4rem;
                margin: 8px 0;
            }
            .container-login .img img {
                width: 400px;
            }
        }
        
        @media screen and (max-width: 900px) {
            .container-login {
                height: 85vh;
                grid-template-columns: 1fr;
            }
            .container-login .img img {
                display: none;
            }
            .login-container {
                justify-content: center;
            }
            form {
                width: 400px;
            }
        }